<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="DataBase" connectionString="Data Source=qds226081219.my3w.com;database=qds226081219_db;uid=qds226081219;pwd=Rocher2016"/>
  </database>
  <sqlMaps>
    <sqlMap resource="E:\项目\Rocher.Infrastructure.MyBitis\Test\SqlMaps\T_Administrator.xml"></sqlMap>
  </sqlMaps>
</sqlMapConfig>